body {
	overflow:hidden;
}
html,body {
	height: 100%;
	width: 100%;   
	-ms-touch-action: none; // disables the default touch actions for IE10   
	-ms-content-zooming: none;
	-ms-scroll-chaining: none;
	position:fixed;
	margin:0px 0px 0px 0px;
}
.caption{
	font-size: 14px;
	font-family: Georgia, serif;
} 
.number {
	opacity:1;
	fill: #000000;
}
.corpus
{
	opacity:0;
	fill: #0066FF;
	pointer-events:all;
}
.corpus:hover{
	opacity: 0.85;
	pointer-events:all;
	cursor:pointer;
}
.floorLink{
	opacity:0;
	fill: #0066FF;
	pointer-events:all;
}
.floorLink:hover{
	opacity: 0.3;
	pointer-events:all;
	cursor:pointer;
}
.zoom{
	opacity:0;
	pointer-events:all;
}
.zoom:hover{
	fill:#0066FF;
	opacity: 0.5;
	pointer-events:all;
}
.stairs{
	opacity:0;
	pointer-events:all;
}
.stairs:hover{
	fill:#0066FF;
	opacity: 0.3;
	pointer-events:all;
}
.mini_map_style{
	opacity:0;
	fill:#090909;
	pointer-events:all;
}
.mini_map_style:hover{
	opacity: 0.1;
	cursor:pointer;
}
.pathlink{
	opacity:0;
}
.auditorium{
	fill:#FDAD35;
	opacity:0;
}
.message {
	font-size: 12px;	
	margin: 0px;
	padding: 5px 0px 0px 0px;
	min-height: 6px;
	max-height: 14px;
	min-width: 25%;
	max-width: 50%;
	width: auto;
}
.message p 
{
	margin: 0;
}
.message.critical {
	border: 1px solid #f5d1d1;
	background:#fdd no-repeat 3px 3px;
	color: #800 !important;	
}
#mainDiv{
	display: block;
}
#MenuButton{
	display: none;
}